# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Environments
.venv/
env/
venv/

# Logs, models, and temp
logs/
models/
*.h5
*.tflite

# Dataset folders
data/
data_training/
data_validation/
splits/

# OS
.DS_Store
Thumbs.db
